.advantages-item-wrapper{
	@media(max-width: $screen-sm){
		padding-bottom: 20px;
	}

	.paw-text{
		@extend .paw-text-style;
	}

	.row{
		display: flex;
		flex-wrap: wrap;
	}
}

.advantages-item{
	text-align: center;
	margin: {
		top: 20px;
		bottom: 20px;
	}

	&__image{
		max-width: 170px;
	}
	&__title{
		text-transform: uppercase;
		color: $color-gray;
		line-height: 20px;
		font: {
			size: 18px;
			weight: 700; 
			family: $rubik;
		}
	}
	@media(max-width: $screen-xs){
		padding: {
			left: 15px;
			right: 15px;
		}
		flex: 0 0 100%;
	}
	@media(min-width: $screen-xs-max) and (max-width: $screen-lg){
		flex: 0 0 50%;
	}
	@media(min-width: $screen-lg-max){
		flex: 0 0 33%;
	}
}