.blog-item{
  background-color: $color-gray;
  position: relative;

  display: block;
  text-decoration: none;
  
  overflow: hidden;
  
  @media(min-width: $screen-md-max){
    height: 400px;
  }
  @media(min-width: $screen-sm-max){
    margin-bottom: 50px;
  }
  @media(max-width: $screen-sm){
    margin-bottom: 30px;
  }

  &__title{
    position: absolute;
    z-index: 3;
    
    right: 30px;
    margin: 0;

    color: $color-white;
    text: {
      align: left;
      transform: uppercase;
    }
    font: {
      family: $raleway;
      weight: 900;
    }

    transition: $blog-item-transition;

    @media(max-width: $screen-xs){
      top: 30px;
      left: 30px;
      font-size: 18px;
    }
    @media(min-width: $screen-xs-max){
      top: 65px;
      left: 65px;
      font-size: 35px;
    }
  }

  img{
    position: relative;
    display: block;
    /* min-height: 100%; */
    max-width: 100%;

    transition: $blog-item-transition;
  }

  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    
    transition: $blog-item-transition;

    background: {
      color: rgba($color-black, .4);
    }
  }

  &:hover{

    .blog-item__title{
      font-size: 24px;
    }

    img{
      transform: scale(1.15);
    }
  
    &::before{
      background: {
        color: rgba($color-orange, .4);
      };
    }

  }
}