.blog-item{
  background-color: $color-gray;
  position: relative;

  display: block;
  text-decoration: none;
  
  height: 400px;
  overflow: hidden;

  &__title{
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;

    color: $color-white;
    text: {
      transform: uppercase;
    }
    font: {
      size: 14px;
      family: $rubik;
      weight: 700;
    }
  }

  img{
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
  }
}