.chess-grid{
	display: flex;

	@media(max-width: $screen-sm){
		flex-direction: column;
	}

	.chess-item{
		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;
		
		color: $color-white;
		text: {
			align: center;
			transform: uppercase;
		}
		font: {
			family: $rubik;
			weight: 700;
		}
		background: {
			position: 50%;
			size: cover;
			repeat: no-repaet;
		}

		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: {
				color: rgba($color-black, .4);
			}
		}

		&__no-bg{
			color: $color-lightgray;
		}

		&__no-bg,
		&__no-text{
			&::before{
				display: none;
			}
		}

		p{
			position: relative;
			z-index: 2;
			margin: 0;
		}
		
		@media(max-width: $screen-sm){
			height: 300px;
		}
		@media(min-width: $screen-sm-max){
			height: 450px
		}
		
		@media(max-width: $screen-md){
			font-size: 14px;
			line-height: 24px;

			padding: {
				left: 30px;
				right: 30px;
			}
		}
		@media(min-width: $screen-md-max){
			font-size: 16px;
			line-height: 30px;

			padding: {
				left: 60px;
				right: 60px;
			}
		}
	}
}