#footer{}

.footer-top{
	background-color: $footer-top-bg;
	
	@media(min-width: $screen-sm-max){
		padding: {
			top: 25px;
			bottom: 25px;
		}	
	}
	@media(min-width: $screen-sm-max){
		padding: {
			top: 50px;
			bottom: 50px;
		}	
	}

	.text{
		height: 40px;
		line-height: 40px;
		margin-bottom: 15px;

		font:{
			family: $rubik;
		}
		color: $color-gray;

		@media(max-width: $screen-sm){
			font-size: 14px;
		}
		@media(min-width: $screen-sm-max){
			font-size: 16px;
		}

		b{
			text-transform: uppercase;
			font-weight: 700;
		}
	}
}

.footer-list-style{
	padding: 0;

	@media(max-width: $screen-sm){
		margin: {
			top: 20px;
			bottom: 20px;
		}
	}

	li{
		@media(max-width: $screen-sm){
			margin-bottom: 10px;
		}
		@media(min-width: $screen-sm-max){
			margin-bottom: 20px;
		}
	}
	a{
		color: $color-gray;
		line-height: 16px;
		font-weight: 700;

		text: {
			transform: uppercase;
			decoration: none;
		}
		transition: $transition;

		@media(max-width: $screen-sm){
			font-size: 14px;
		}
		@media(min-width: $screen-sm-max){
			font-size: 16px;
		}

		&:hover{
			color: $color-orange;
		}
	}

	&-extended li:not(:first-child) a{
		font-weight: normal;
	}
}

.footer-bottom{
	background-color: $footer-bottom-bg;
}

.copyrights-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-top: 1px solid $color-gray;

	text: {
		transform: uppercase;
	}
	font: {
		size: 14px;
		family: $rubik;
	}
	color: #898989;
	@media(min-width: $screen-sm-max){
		height: 50px;
	}
	@media(max-width: $screen-sm){
		padding: {
			top: 10px;
			bottom: 10px;
		}
		flex-direction: column;
		align-items: center;
	}
	.copyright{}
	.welldo{
		a{
			text-decoration: none;
			color: $color-orange;

			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.footer-info{
	padding: {
		top: 30px;
		bottom: 30px;
	}

	.footer-logo{
		@media(min-width: $screen-xs-max) and (max-width: $screen-md){
			width: 50%;
			display: block;
			margin: {
				left: auto;
				right: auto;
			}
		}
	}

	.kormotech-text{
		margin-top: 15px;
		color: #898989;
		line-height: 16px;
		font: {
			size: 16px;
			family: $rubik;
		}
		@media(max-width: $screen-xs){
			display: none;
		}
		@media(max-width: $screen-md){
			text-align: center;
		}
	}
}

.footer-socials{
	@media(max-width: $screen-md){
		text-align: center;
	}
	a{
		@include social-button();
		font-size: 35px;
	}
}

.footer-subscribe-form{
	display: flex;

	@media(max-width: $screen-md){
		margin-bottom: 20px;
	}

	&__title{
		margin-bottom: 20px;
		font: {
			size: 16px;
			family: $rubik;
		}
		line-height: 16px;
		color: $color-white;
		text-transform: uppercase;

		@media(max-width: $screen-md){
			margin-top: 20px;
			text-align: center;
		}
	}
	&__input{
		flex-grow: 1;

		padding: 8px 2px;
		margin: {
			right: 10px;
		}
		background-color: inherit;
		outline: 0;
		border: {
			top: 0;
			left: 0;
			right: 0;
			bottom: 1px solid $color-orange;
		}
		
		font: {
			size: 14px;
			family: $rubik;
		}
		color: $color-gray;
	}
	&__submit{
		width: 30px;
		height: 30px;
		padding: 0;
		outline: 0;
		border: 0;
		cursor: pointer;
		background: {
			color: inherit;
			image: url('#{$images-path}paw_button.svg');
			repeat: no-repeat;
			position: 50%;
		}
	}
}

.footer-images{
	text-align: center;
}