.header-nav-wrapper{
	position: relative;
	z-index: 2;
	box-shadow: 0 6px 6px 0 rgba(0,0,0, .15);
}

.header-nav{

	> .row{
		display: flex;
		align-items: center;
		height: 90px;
	}
	ul{
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
	}
	li{}
	a{
		display: inline-block;
		padding: 15px 25px;

		border-radius: 25px;
		font:{
			size: 16px;
			family: $rubik;
			weight: 700;
		}
		line-height: 16px;

		color: $color-gray;
		text: {
			transform: uppercase;
			decoration: none;
		}

		transition: $transition;

		&:hover{
			color: $color-white;
			background-color: $color-orange;
			box-shadow: 0 2px 2px 0 rgba(0,0,0, .1);
		}
	}

	.logo{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		height: 90px;
		background-color: $color-orange;

		img{
			max-width: 145px;
		}
	}
}