/* set bg-color for logo - dogs/cats */
.body-wrapper-dogs .logo{
	background-color: $color-darkblue;
}
.body-wrapper-cats .logo{
	background-color: $color-orange;
}

.header-nav-wrapper{
	position: relative;
	z-index: 200;
	box-shadow: 0 6px 6px 0 rgba(0,0,0, .15);
}

.header-nav{

	> .row{
		@media(max-width: $screen-xs-max){
			display: flex;
			flex-direction: column;
		}
		@media(max-width: $screen-xs){
			padding-bottom: 15px;
		}
		@media(min-width: $screen-xs-max) and (max-width: $screen-md){
			padding: {
				top: 15px;
				bottom: 15px;
			}
		}
		@media(min-width: $screen-md-max){
			display: flex;
			align-items: center;
			height: 90px;	
		}
	}
	ul.nav-menu{
		margin: 0;
		padding: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		@media(max-width: $screen-xs-max){
			order: 2;
			flex-direction: column;
		}

		> li {
			/* position: relative; */
		}

		> li > a{
			display: inline-block;
			padding: 15px 25px;

			border-radius: 25px;
			font:{
				size: 16px;
				family: $rubik;
				weight: 700;
			}
			line-height: 16px;

			color: $color-gray;
			text: {
				transform: uppercase;
				decoration: none;
			}

			transition: $transition;

			&:hover{
				color: $color-white;
				background-color: $color-orange;
				box-shadow: 0 2px 2px 0 rgba(0,0,0, .1);
			}
		}
	}

	.logo{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		height: 90px;

		background-color: $color-orange;
		
		@media(max-width: $screen-xs){
			margin-bottom: 15px;
		}
		@media(min-width: $screen-xs-max) and (max-width: $screen-md){
			margin: {
				top: 15px;
				bottom: 15px;
			}
		}

		img{
			min-width: 145px;
			max-width: 145px;
		}

		> a {
			display: block;
		}
	}
}