#header{

}

@mixin header-top-item-proportions{
	height: 40px;
	line-height: 40px;
}

.header-top{
	border-bottom: 1px solid $color-lightgray;	

	@media(max-width: $screen-md){
		min-height: 40px;
	}
	@media(min-width: $screen-md-max){
		height: 40px;
		padding: {
			left: 50px;
			right: 50px;
		}
	}

	&-socials{
		@include header-top-item-proportions;

		float: left;
		display: flex;

		a{
			@include header-top-item-proportions;
			@include social-button;

			display: block;
			padding: {
				left: 20px;
				right: 20px;
			}
			border-right: 1px solid $color-lightgray;

			&:first-child{
				border-left: 1px solid $color-lightgray;				
			}
		}
	}
	&-consultation{
		@include header-top-item-proportions;

		@media(max-width: $screen-sm-max){
			display: none;
		}

		float: left;
		border-right: 1px solid $color-lightgray;

		padding: {
			left: 20px;
			right: 20px;
		}

		text-transform: uppercase;
		font: {
			size: 14px;
			family: $rubik;
		}
		color: $color-semigray;
		b{
			margin-right: 5px;
			color: $color-gray;
			font-weight: 700;
		}
	}
	&-change-lang{
		@include header-top-item-proportions;

		display: flex;
		justify-content: center;
		width: 78px;
		border: {
			left: 1px solid $color-lightgray;
			right: 1px solid $color-lightgray;
		}

		float: right;

		/* now used just only for fake-test */ 
		select{
			margin: {
				left: auto;
				right: auto;
			}
			height: 100%;
			border: 0;
			outline: 0;
			background-color: inherit;

			text: {
				transform: uppercase;
			}
		}
	}
}