.page-top-banner{
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: $color-white;
	background: {
		position: 50%;
		size: cover;
		repeat: no-repeat;
	}

	@media(max-width: $screen-sm){
		height: 300px;
	}
	@media(min-width: $screen-sm-max){
		height: 550px;
	}
	
	&__title,
	&__text{
		position: relative;
		z-index: 3;
	}

	&__title{
		margin: {
			top: 0;
		}
		font: {
			weight: 900;
			family: $raleway;
		}
		text: {
			transform: uppercase;
			shadow: 0 1px 2px rgba($color-black, .1);
		}
		
		@media(max-width: $screen-sm){
			font-size: 35px;
			margin-bottom: 15px;
		}
		@media(min-width: $screen-sm-max){
			font-size: 60px;
			margin-bottom: 35px;
		}
	}

	&__text{
		text: {
			align: center;
		}

		@media(max-width: $screen-sm){
			font-size: 14px;
			line-height: 16px;
		}
		@media(min-width: $screen-sm-max){
			font-size: 18px;
			line-height: 20px;
		}
	}

	&::before{
		content: '';
		display: block;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: {
			color: rgba($color-black, .4);
		}
	}
}