.paw-text-style{
	line-height: 16px;
	color: $color-gray;
	font: {
		size: 16px;
		family: $rubik;
	}
	text: {
		transform: uppercase;
		align: center;
	}

	span{
		font: {
			weight: 700;
		}
	}
	
	@media(min-width: $screen-xs-max){
		margin: {
			bottom: 20px;
		}
	}
	@media(max-width: $screen-xs){
		margin: {
			bottom: 15px;
		}
	}
}