.paw-button{
  display: inline-block;
  padding: {
    left: 40px;
    right: 85px;
    top: 28px;
    bottom: 28px;
  }
  box-shadow: 0 0 50px 0 rgba(0,0,0, .2);
  border-radius: 45px;
  transition: $transition;
  
  text: {
    decoration: none;
    transform: uppercase;
  }
  color: $color-gray;
  font: {
    size: 18px;
    family: $rubik;
    weight: 900;
  }
  background: {
    repeat: no-repeat;
    size: 30px;
    position: calc(100% - 40px) 50%;
    image: url('#{$images-path}paw_button_list.svg');
  }

  &:hover{
    color: $color-orange;
    box-shadow: 0 0 25px 0 rgba(0,0,0, .2);
    background: {
      image: url('#{$images-path}paw_button.svg');
    }
  }
}

.premium-ration-item__dogs .paw-button:hover{
  background: {
    image: url('#{$images-path}paw_button_dogs.svg');
  }
}