.premium-ration-wrapper-mainpage{
	@extend .clearfix;
}

.premium-ration-item{
	text-transform: uppercase;
	
	@media(max-width: $screen-sm){
		text-align: center;
	}
	@media(max-width: $screen-lg){
		padding: {
			top: 30px;
			bottom: 30px;
		}
	}
	@media(min-width: $screen-lg-max){
		padding: {
			top: 70px;
			bottom: 50px;
		}
	}

	> .row{
		display: flex;
		align-items: center;

		@media(max-width: $screen-md){
			flex-direction: column;

			> div:not(.premium-ration-item__image){
				order: 2;
			}
		}
	}

	&__text,
	&__title,
	&__button{
		@media(min-width: $screen-sm-max){
			margin-left: 55px;
		}
	}

	&__text{
		display: inline-block;
		
		margin: {
			bottom: 25px;
		}
		
		@extend .paw-text-style;
	}

	&__title{
		margin: {
			top: 0;
			bottom: 0;
		}
		
		font:{
			family: $raleway;
			weight: 900;
		}
		@media(max-width: $screen-xs){
			font-size: 35px;
			line-height: 40px;
		}
		@media(min-width: $screen-xs-max){
			font-size: 50px;
			line-height: 55px;
		}
	}

	&__button{
		@extend .paw-button;
		margin: {
			top: 50px;
		}
	}

	&__cats{
		.premium-ration-item__title{
			color: $color-orange;
		}
		.premium-ration-item__button:hover{
			color: $color-orange;
		}
	}
	&__dogs{
		.premium-ration-item__title{
			color: $color-darkblue;
		}
		.premium-ration-item__button:hover{
			color: $color-darkblue;
		}
	}

	&__image{
		img{
			@extend .img-responsive;
			
			@media(min-width: $screen-md-max){
				padding: {
					left: 50px;
					right: 50px;
				}
			}
		}
	}
}