.product-line-wrapper{
  @extend .clearfix;

  padding: {
    bottom: 80px;
  }

  @media(min-width: $screen-sm-max){
    padding: {
      left: 55px;
      right: 55px;
    }
  }

  .paw-text{
    @extend .paw-text-style;
  
    @media(min-width: $screen-sm-max){
      text: {
        align: left;
      }
    }
    @media(max-width: $screen-xs){
      margin-top: 30px;
    }
  }
  .product-line__title{
    color: $color-orange;
    margin: {
      top: 0;
      bottom: 30px;
    }
    text: {
      transform: uppercase;
    }
    font: {
      family: $raleway;
      weight: 900;
    }
    @media(max-width: $screen-sm){
      font-size: 35px;
      line-height: 40px;
      text-align: center;
    }
    @media(min-width: $screen-xs-max){
      font-size: 50px;
    }
  }

  .product-line-for-dogs{
    @media(max-width: $screen-md){
      margin-top: 30px;
    }
  }
}

.product-line-item{
  display: block;
  text: {
    align: center;
    decoration: none;
    transform: uppercase;
  }

  &__image{
    display: inline-block;
    max-width: 100%;
    height: auto;
    
    @media(min-width: $screen-sm-max){
      margin-bottom: 30px;
    }
    @media(max-width: $screen-sm){
      margin: {
        top: 15px;
        bottom: 15px;
      }
    }

    @media(max-width: $screen-xs){
      max-width: 60%;
    }
  }

  &__name{
    color: $color-gray;
    transition: $transition;
    font: {
      family: $rubik;
      weight: 700;
    }
    
    @media(max-width: $screen-xs){
      font-size: 14px;
      line-height: 16px;
    }
    @media(min-width: $screen-xs-max){
      font-size: 16px;
      line-height: 18px;
    }
  }

  &:hover{
    .product-line-item__name{
      color: $color-orange;
    }
  }
}