.vertical-divider{
	position: relative;

	@media(max-width: $screen-sm){
		display: none;
	}

	&::after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: calc(50% - 1px);
		width: 1px;
		height: 100%;
		background: {
			color: $color-lightgray;
		}
	}
}