.contacts-block-icon-wrapper{
	@media(max-width: $screen-md){
		padding: {
			top: 50px;
			bottom: 50px;
		}
	}
	@media(min-width: $screen-md-max){
		padding: {
			top: 100px;
			bottom: 100px;
		}
	}

	&--flex-row{
		display: flex;
		flex-wrap: wrap;
	}

	.col-sm-6{
		@media(max-width: $screen-xs){
			width: 100%;
		}
	}
}

.contacts-block-icon{
	margin: {
		bottom: 30px;
	}
	&--title{
		margin: {
			top: 0;
			bottom: 25px;
		}
		color: $color-gray;
		text: {
			transform: uppercase;
		}
		font: {
			family: $raleway;
			weight: 900;
		}
		
		@media(max-width: $screen-xs){
			text: {
				align: center;
			}
			font: {
				size: 24px;
			}
		}
		@media(min-width: $screen-xs-max){
			font: {
				size: 35px;
			}
		}
	}

	&--social-divider{
		margin: {
			top: 15px;
			right: 10px;
		}
		width: 50px;
		height: 1px;
		background: {
			color: $color-lightgray;
		}

		@media(max-width: $screen-xs){
			display: none;
		}
	}

	&--row{
		display: flex;
		justify-content: flex-start;
		
		@media(max-width: $screen-xs){
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		
		span,
		p{
			display: block;
			margin: {
				top: 4px;
			}
			color: $color-gray;
			line-height: 30px;
			font: {
				family: rubik;
				size: 16px;
			}
		}
		i{
			flex: 0 0 36px;
			display: block;
			width: 36px;
			height: 36px;
			line-height: 36px;

			border-radius: $radius-circle;
			color: $color-white;
			text: {
				align: center;
			}
			background: {
				color: $color-orange;
			}

			@media(min-width: $screen-xs-max){
				margin: {
					right: 20px;
				}
			}
			
			&.icon-facebook,
			&.icon-youtube2{
				color: #898989;
				width: auto;
				transition: $transition;
				background: {
					color: inherit;
				}
				font: {
					size: 33px;
				}
			}
		}
		span{
			display: inline-block;
			text: {
				transform: uppercase;
			}
			font: {
				weight: 700;
			}
			@media(max-width: $screen-xs){
				margin: {
					bottom: 10px;
				}
			}
			@media(min-width: $screen-xs-max){
				margin: {
					right: 10px;
				}
			}
		}
		p{}
		a{
			text: {
				decoration: none;
			}

			&:hover i{
				color: $color-orange;
			}

			@media(max-width: $screen-xs){
				display: inline-block;
				margin: {
					top: 5px;
				}
			}
		}
		/* used with socials */ 
		img{
			display: inline-block;
			width: 30px;
			height: 30px;

			@media(min-width: $screen-xs-max){
				margin-right: 20px;
			}
		}
	}
}

.contacts-inside-banner{
	height: 390px;
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	color: $color-white;
	background: {
		position: 50%;
		size: cover;
		repeat: no-repeat;
	}

	&--title,
	&--text{
		position: relative;
		z-index: 3;
	}

	&--title{
		margin: {
			top: 0;
			bottom: 30px;
		}
		font: {
			size: 50px;
			family: $raleway;
			weight: 900;
		}
	}
	&--text{
		text: {
			transform: uppercase;
		}
		font: {
			size: 16px;
			family: $rubik;
			weight: 700;
		}
	}

	&::before{
		content: '';
		display: block;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: {
			color: rgba($color-black, .4);
		}
	}
}

.user-request-form-wrapper{

	@media(max-width: $screen-md){
		padding: {
			top: 50px;
			bottom: 50px;
		}
	}
	@media(min-width: $screen-md-max){
		padding: {
			top: 100px;
			bottom: 100px;
		}
	}

	&--title{
		margin: {
			top: 0;
			bottom: 20px;
		}
		color: $color-gray;
		line-height: 20px;
		text:{
			transform: uppercase;
		}
		font: {
			size: 18px;
			family: $rubik;
			weight: 700;
		}
	}
}

.user-request-form{
	.col-sm-6{
		margin-bottom: 20px;
	}
	label{
		margin-bottom: 5px;
		display: block;
		color: $color-lightgray;
		line-height: 24px;
		font: {
			size: 14px;
		}
	}
	&--controller{
		outline: 0;
		padding: 20px 10px;
		width: 100%;
		border: 1px solid #dfdfdf;
		color: $color-gray;
		font: {
			size: 16px;
		}
		transition: $transition;

		&:focus{
			border-radius: 3px;
			border-color: $color-orange;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($color-orange,.6);
		}
	}
	textarea{
		resize: none;
		height: 150px;
	}

	.paw-button{
		margin: {
			top: 50px;
		}
	}
}

// 
.contacts{
	&-our-partners,
	&-internet-shops,
	&-regionals,
	&-importers{

		@media(max-width: $screen-md){
			padding: {
				bottom: 50px;
			}
		}
		@media(min-width: $screen-md-max){
			padding: {
				bottom: 100px;
			}
		}

		.paw-text{
			@extend .paw-text-style;
		}
	}

	&-our-partners .row{
		@media(max-width: $screen-sm){
			display: flex;
			flex-wrap: wrap;
		}
	}
}

/* partners */ 
.contacts-our-partners-block{
	text: {
		align: center;
	}

	div{
		border: 1px solid $color-lightgray;
		padding: 20px;

		@media(min-width: $screen-sm-max){
			margin: {
				bottom: 30px;
			}
		}
		@media(max-width: $screen-sm){
			margin: {
				top: 15px;
				bottom: 5px;
			}
		}
	}
	
	img{
    max-width: 100%;
    height: auto;
	}
	p{
		color: $color-gray;
		line-height: 20px;
		font: {
			weight: 700;
			family: $rubik;
		}
		text: {
			transform: uppercase;
		}
		@media(min-width: $screen-sm-max){
			font-size: 16px;
		}
		@media(max-width: $screen-sm){
			font-size: 14px;
		}
	}
}