.product-types-wrapper{
	@media(min-width: $screen-xs-max) and (max-width: $screen-sm){
		margin-top: 50px;
	}
	@media(min-width: $screen-sm-max){
		margin-top: 100px;
	}
}

.product-types-wrapper,
.life-stage-wrapper,
.premium-ration-wrapper{
	/* centering paw-button */
	text-align: center;

	padding: {
		bottom: 90px;
	}

	.paw-button{
		margin: {
			top: 40px;
		}
	}
}

.product-types-wrapper,
.life-stage-wrapper,
.premium-ration-wrapper,
.page-bottom-slider-section{
	.paw-title{
		margin: {
			bottom: 70px;
		}
	}
	.paw-text{
		@extend .paw-text-style;
	}

	.row{
		display: flex;

		&:first-child{
			border-top: 0;
		}

		@media(max-width: $screen-sm){
			flex-direction: column;

			padding: {
				top: 30px;
				bottom: 30px;
			}
		}
		@media(min-width: $screen-sm-max){
			padding: {
				top: 50px;
				bottom: 50px;
			}	
			border-top: 1px solid $color-lightgray;
		}
	}
}

.vertical-divider{
	position: relative;

	@media(max-width: $screen-sm){
		display: none;
	}

	&::after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: calc(50% - 1px);
		width: 1px;
		height: 100%;
		background: {
			color: $color-lightgray;
		}
	}
}