.mainpage-slider-wrapper{

	.msw-slide{
		background:{
			size: cover;
			position: 50%;
		}
		height: 550px;

		&-content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			&__title{
				color: $color-white;
				line-height: 62px;
				text: {
					shadow: 0 2px 2px rgba($color-black, .1);
					transform: uppercase;
				}
				font: {
					family: $raleway;
					size: 60px;
					weight: 900;
				}
			}
		}
		@media(min-width: $screen-sm-max){
			
		}
	}
}