@import "common/normalize.scss";
@import "common/variables.scss";
@import "common/font-family.scss";
@import "common/grid.scss";
@import "common/theme.scss";

@import "extends/clearfix.scss";
@import "extends/social-button-mixin.scss";

@import "includes/slick.scss";

@import "components/header.scss";
@import "components/header-nav.scss";
@import "components/header-popup-menu.scss";
@import "components/footer.scss";

@import "components/premium-ration-item.scss";
@import "components/advantages-item.scss";
@import "components/paw-title.scss";
@import "components/paw-text-style.scss";
@import "components/paw-button.scss";
@import "components/ck-editor.scss";
@import "components/blog-item.scss";
@import "components/product-line-item.scss";
@import "components/page-top-banner.scss";
@import "components/breadcrumbs.scss";
@import "components/chess-grid.scss";
@import "components/pagination.scss";

@import "pages/mainpage.scss";
@import "pages/about.scss";