/* color-gray, color-orange by default */
@mixin social-button($color: $color-semigray, $color-hover: $color-orange){
	color: $color;
	transition: $transition;
	text-decoration: none;

	&:hover{
		color: $color-hover;
	}
}