/* 
 * Def's
 */
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: $rubik;
}
#wrapper{
  flex-grow: 1;

  /* experimental style for 404 */
  display: flex;
  flex-direction: column; 
}

*{
  box-sizing: border-box;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.left{
  float: left;
}
.right{
  float: right;
}

.align-center{
  text-align: center;
}

