/* Colors */
$color-white: #ffffff; 
$color-black: #000000;
$color-gray: #464646;
$color-lightgray: #dfdfdf;
$color-orange: #f58220;
$color-darkblue: #002f65;

$footer-top-bg: #f5f5f5;
$footer-bottom-bg: #282828;

/* FontFamily */ 
$rubik: 'Rubik';
$raleway: 'Raleway';

/* Path */
$images-path: "/images/";

/* Etc */
$transition: all .23s ease-in-out;
$blog-item-transition: all .3s;
$radius-circle: 50%; 

/* Media */
$screen-xs-max: 480px; 
$screen-xs: $screen-xs-max - 1;

$screen-sm-max: 768px;
$screen-sm: $screen-sm-max - 1;

$screen-md-max: 991px;
$screen-md: $screen-md-max - 1;

$screen-lg-max: 1024px;
$screen-lg: $screen-lg-max - 1;




